body {
  margin: 0;
  padding: 0;
}

/* Header */

/* Banner  */

#newsletter {
  background-color: purple;
  color: rgba(255, 255, 255, 0.514);
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

#newsletter img {
  width: 25px;
}

#newsletter:not(.logo) {
  justify-content: center;
}

.logo {
  /* display: inline-block; */
  position: absolute;
  left:0;
}

#newsletter div:nth-child(2) {

  justify-content: center;
}

#champs_newsletter div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#champs_newsletter div button {
  background-color: rgb(124, 241, 124);
  border-radius: 5px;
}

/* Navbar  */

nav {
  display: flex;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  padding: 0;
}

/* Mets le logo à gauche */
nav .logo {
  justify-content: flex-start;
}

/* Défini la taille et la bordure du logo */
nav .logo img {
  height: 40px;
  padding: 5px 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
}


/* Mets le menu au centre */
nav .menu {
  display: flex;
  justify-content: space-between;
  margin-left: 15;
}

.menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 350px;
}

.menu ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.menu ul li:last-of-type {
  margin-left: 300px;
  padding-left: 50px;
  height: 50px;
  border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.menu ul li a {
  text-decoration: none;
  color: black;
}

.menu ul li a:hover {
  text-decoration: underline;
}

/* Contenu */

#contenu {
  margin: 50px 200px;
}

#contenu h1 {
  margin: 40px auto;
  text-align: center;
  font-size: 50px;

}

#contenu h2 {
  font-size: 30px;
}

#contenu h1::after {
  content: '';
  display: block;
  margin: 50px auto;
  border-bottom: 1px solid purple;
  width: 30px;
}

#contenu ul {
  list-style: none;
  margin: 40px
}

#contenu ul li::before {
  content: "\2022";
  color: purple;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: 1em;
}

/* footer */

footer {
  background-color: rgb(59, 59, 59);
  text-align: center;
}

#section {
  display: flex;
  justify-content: space-between;
  padding: 5px 550px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

footer #section div {
  margin: 5px auto;
}

footer #section div a {
  display: flex;
  align-items: center;
  height: 75px;
}

footer #section div a span {
  color: white;
}

footer img {
  height: 50px;
  margin-top: 50px;
}

footer p {
  margin:0;
  padding: 30px;
  color:rgba(255, 255, 255, 0.253);
}